.disclaimer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

.disclaimer-container h2 {
    font-weight: bold;
}

.disclaimer-btn{
    height: 30px ;
    width: 200px ;
    background: rgb(205, 203, 203, .8);
	color: #000;
    border: 1px solid rgb(0, 0, 0,0.2);
	border-radius:5px;
	padding: 0;
	font: inherit;
    font-weight: bold;
	cursor: pointer;
	outline: inherit;
    transform: all 0.3s ease-in-out;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.disclaimer-btn:hover{
transform: scale(1.01);
}