@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'),
    url('./assets/fonts/proximanova-light.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'),
    url('./assets/fonts/proximanova-regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'),
    url('./assets/fonts/proximanova-semibold.woff2') format('woff2');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica,
    Roboto, Arial, sans-serif;
  font-weight: 400;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
}

